.cover__link {
  width: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21% 0;
}

@media screen and (max-width: 1023.98px) {
  .cover__link {
    padding: 16% 0;
  }
}

@media screen and (max-width: 767.98px) {
  .cover__link {
    padding: 10% 0;
  }
}
