.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  max-width: 100%;
  padding: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1279.98px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 1023.98px) {
  .photo-grid {
    gap: 16px;
    padding: 0 24px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767.98px) {
  .photo-grid {
    gap: 12px;
    padding: 0 16px;
    margin-top: 64px;
  }
}
