.cover {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover:hover .cover__overlay {
  opacity: 30%;
}

@media screen and (max-width: 1023.98px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .cover {
    margin-top: 66px;
  }
}
