.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px;
  max-width: 1184px;
  padding: 0 48px;
}

@media screen and (max-width: 1023.98px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    padding: 0 16px;
    margin-top: 64px;
  }
}
